extends layout
block content
 .row
      .holder
        .large
          h1 Somewhere
          h2 To Visit
        .normal
          h1 There
          h2 To Visit
        .normal2
          h1 Here
          h2 To Visit
 